{
  "providers": {
    "openai": {
      "enabled": false,
      "api_key": null,
      "models": []
    },
    "anthropic": {
      "enabled": false,
      "api_key": null,
      "models": []
    },
    "gemini": {
      "enabled": false,
      "api_key": null,
      "models": []
    },
    "ollama": {
      "enabled": true,
      "api_key": null,
      "models": [
        "gemma3:latest"
      ]
    }
  }
}
